<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963261267239-7b2f514cmbgfoak6ne2s77s3kc18mdru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963261267239-7b2f514cmbgfoak6ne2s77s3kc18mdru</string>
	<key>API_KEY</key>
	<string>AIzaSyDBBdB3KXb8426qPsn1ZO3tdOMsKDvZaIM</string>
	<key>GCM_SENDER_ID</key>
	<string>963261267239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flywork.lingolaapp</string>
	<key>PROJECT_ID</key>
	<string>lingola-66a0a</string>
	<key>STORAGE_BUCKET</key>
	<string>lingola-66a0a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963261267239:ios:cbd9a1b2784c3dfca0fd02</string>
</dict>
</plist>